@font-face {
  font-family: Roboto-Black;
  src: url(./assets/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url(.//assets/fonts/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url(./assets/fonts/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: Roboto-Italic;
  src: url(./assets/fonts/Roboto-Italic.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url(./assets/fonts/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url(./assets/fonts/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(./assets/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url(./assets/fonts/Roboto-ThinItalic.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  margin: 20px auto;
  text-align: center;
}
#build {
  text-transform: uppercase;
  border: solid grey;
  border-width: 5px 0 5px 5px;
  font-family: Roboto-Bold;
  padding-left: 10px;
  color: rgb(243, 156, 18);
}
#estate {
  text-transform: uppercase;
  font-family: Roboto-Bold;
  color: grey;
}
nav {
  background-color: rgb(127, 194, 247);
  text-align: center;
  margin: 20px;
}
ul {
  list-style-type: none;
  padding: 5px;
}
#nav {
  text-transform: uppercase;
  font-family: Roboto-Bold;
  color: white;
}
li {
  margin-bottom: 5px;
  margin-top: 5px;
}
#banner {
  background-image: url(./assets/images/banner3.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
#bann {
  margin-bottom: 5px;
}
button {
  text-transform: capitalize;
  font-family: Roboto;
  background-color: rgb(51, 105, 230);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 0px;
}
h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}
.main {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: rgb(51, 105, 230);
  margin-left: 30px;
}
p {
  margin-left: 20px;
  margin-bottom: 15px;
  margin-right: 20px;
}
.welcome {
  margin-left: 45px;
  list-style-image: url(./assets/images/arrow_bullet.png);
  text-transform: capitalize;
}
img {
  /* height: 400px; */
  width: 100%;
  /* margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px; */
}
#banner h3 {
  font-family: Roboto-Light;
  color: white;
  font-size: 1.6em;
}
.about {
  width: 100%;
}
.img-wrapper {
  /* width: 300px; */
  padding: 0 20px;
  margin: 20px 0;
}
